@{
    ViewBag.Title = "Management";
    Layout = "~/Views/Shared/_Layout.Single.Mobile.cshtml";
}

<ul data-role="listview" data-inset="true" >
            <li>@Html.ActionLink("Reference Users","Index","ReferenceUser")</li>
</ul>
