src/YOM.Business/bin/*
src/YOM.Business/obj/*
src/YOM.Web/bin/*
src/YOM.Web/obj/*
src/YOM.suo
src/YOM.Web/YOM.Web.csproj.user
src/YOM.Business/YOM.Business.csproj.user
src/YOM.sln.docstates
src/packages
src/YOM.Lib/bin/*
src/YOM.Lib/obj/*
src/YOM.CreateDatabase/bin/*
src/YOM.CreateDatabase/obj/*
src/YOM.Lib/YOM.Lib.csproj.user
