<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="YomContainer" connectionString="metadata=res://*/Data.EF.Yom.csdl|res://*/Data.EF.Yom.ssdl|res://*/Data.EF.Yom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Yom;user id=sa;password=2cx0mbs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>