@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div data-role="page">
    
    <!-- /header -->
    <div data-role="content">
        @RenderBody()
    </div>
    <!-- /content -->
    
</div>
