@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div data-role="page">
    <div data-role="header">
    </div>
    <!-- /header -->
    <div data-role="content">
        @RenderBody()
    </div>
    <!-- /content -->
    <div data-role="footer">
    </div>
</div>
