<a href="@Url.Action("Details", "Home")" data-icon="home" class="ui-btn-left"  data-ajax="false" >Home</a>
<h1>
    Page Titlex</h1>
<a href="@Url.Action("LogOff", "Account")" class="ui-btn-right" data-ajax="false">Logout</a>
<div data-role="navbar">
    <ul>
        <li><a href="a.html">One</a></li>
        <li>@Html.ActionLink("Management", "Index", "Management", null, new {data_icon="gear", data_iconpos="top"  })</li>
    </ul>
</div>
