<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Yom.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="YomContainer" connectionString="metadata=res://*/Data.EF.Yom.csdl|res://*/Data.EF.Yom.ssdl|res://*/Data.EF.Yom.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Yom;user id=sa;password=2cx0mbs;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <applicationSettings>
    <Yom.Lib.Properties.Settings>
      <setting name="PathToAspNetRegSql" serializeAs="String">
        <value>C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_regsql.exe</value>
      </setting>
    </Yom.Lib.Properties.Settings>
  </applicationSettings>
</configuration>