@model IEnumerable<Yom.Web.Models.ReferenceUser.ReferenceUserViewModel>
@{
    ViewBag.Title = "Index";
}
<div class="append-bottom">
    @Html.ActionLink("Create Reference User", "Create", null, new { data_role = "button" })
</div>
<ul data-role="listview" data-inset="true">
    @foreach (var item in Model)
    { 
        <li>@Html.ActionLink(item.ToString(), "Details", "ReferenceUser", new { id = item.Id }, null)</li>
    }
</ul>
