@model Yom.Web.Models.YouOweMe.YouOweMeCreateModel
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.Result.Mobile.cshtml";
}
<div class="append-bottom">

Success

</div>

<ul data-role="listview" data-inset="true">
        <li>@Html.ActionLink("Create another", "Create")</li>
        <li>@Html.ActionLink("Back to main menu", "Index","Home")</li>
</ul>
