@{
    ViewBag.Title = "Details";
}
<fieldset class="ui-grid-a">
    <legend></legend>
    <div class="ui-block-a">
        @Html.ActionLink("Owe", "Index", "Owe", null, new { data_role = "button" })
    </div>
    <div class="ui-block-b">
        <a href="#pay" data-role="button">Pay</a>
    </div>
    <div class="ui-block-a">
        <a href="#report" data-role="button">Report</a></div>
</fieldset>
