@{
    Layout = "~/Views/Shared/_Layout.Mobile.cshtml";
}
<div data-role="page">
    <div data-role="header">
        <h1>test</h1>
    </div>
    <div data-role="content">
        <p>
            Welcome to YOM (You Owe Me). Yom has the following features:
        </p>
        <dl title="Feature list">
            <dt>Debts</dt>
            <dd>
                Tracks information about who owes you money and how much. Keeps track about your
                debts.</dd>
            <dt>Reconciliation</dt>
            <dd>
                Tracks information about who pays his debts and if your debts are payed.</dd>
        </dl>

         @Html.ActionLink("Log On", "LogOn", "Account", null, new { data_role="button", data_ajax="false"})
    </div>
</div>
