<fieldset class="ui-grid-a">
    <div class="ui-block-a">
        @Html.ActionLink("Share", "Share", null, new { data_role = "button" })
    </div>
    <div class="ui-block-b">
        <button type="submit" data-theme="b">
            Submit</button></div>
    <div class="ui-block-a">
        <button type="submit" data-theme="c">
            Cancel</button></div>
    <div class="ui-block-b">
        <button type="submit" data-theme="b">
            Submit</button></div>
</fieldset>
