@using (Html.BeginForm())
{
    <div data-role="fieldcontain">
        <label for="name">
            Name:</label>
        <input type="text" name="name" id="name" value="" />
    </div>
    <div data-role="fieldcontain">
        <label for="amount">
            Amount:</label>
        <input type="number" name="amount" id="amount" value="" />
    </div>
     
    

    
    <ul data-role="listview" data-inset="true">
        <li>
            <div class="ui-grid-a">
                <div class="ui-block-a">
                    <input type="checkbox" name="checkbox-0" id="checkbox-0" />
                    <label for="checkbox-0">
                        mikepodonyi@gmail.com</label></div>
                <div class="ui-block-b">
                    <label for="amount1" class="ui-hidden-accessible">
                        Amount:</label>
                    <input type="number" name="amount1" id="amount1" value=""  />
                </div>
            </div>
            <!-- /grid-a -->
        </li>
        <li>
            <p class=" ui-li-aside">
                test
            </p>
            <h3>
                Stephen Weber</h3>
            <p>
                <strong>You've been invited to a meeting at Filament Group in Boston, MA</strong></p>
            <p>
                Hey Stephen, if you're available at 10am tomorrow, we've got a meeting with the
                jQuery team.</p>
        </li>
    </ul>
     
     
     
     
}
